/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.container{
   background-color: brown;
   height: 500px;
   border: 3px solid black;
   display: grid;
   grid-template-columns: 200px 200px 210px;
}
.box{
    background-color: aqua;
    border: 1px solid black;
    width: 80px;
    height: 80px;
}